<!DOCTYPE HTML>

<div id="mainBox">
    <div class="text">
        <h2> Sign a petiton to prevent an illigal crossing of the Earth's Orbit by dolphins and make them pay for the border station at the orbit, called "The Wall" </h2>
    </div>
    <img src="/dolphins.jpg" alt="dolphins flying around">
    <form method="POST">
        <input name="first">
        <input name="last">
        <input name="sig" type="hidden">
    </form>
    <button id="submit">Submit</button>
</div>
