<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" contnet="width=device-width, initial-scale=1">
        <link rel="stylesheet" type= "text/css" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
        <title>Petition</title>
    </head>
    <body>
        {{{body}}}
        <script src="/canvas.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </body>
</html>
