<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type= "text/css" href="/style.css">
        <title>Home</title>
    </head>
    <body>
        {{{body}}}

        <form method="POST">
            <h1> HOME </h1>

            <label> Sign Petition!!! </labeL>
                    <input type="checkbox" name="check"></input>
                    <button type="submit">Submit</button>
            </form>





        <script src="/canvas.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </body>
</html>
