<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type= "text/css" href="/style.css">
        <title>Home</title>
    </head>
    <body>
            <h1> Thank you! </h1>






        <script src="/canvas.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </body>
</html>
