<!DOCTYPE HTML>

<div id="mainBox">
    <div class="login-box">
        <a href="/logout"><button type="button" class="logout-button">Logout</button></a>
        <div class="login-text">
            <h2 style="text-decoration: underline; margin-bottom: 30px" > Petition N42 </h2>
            <h2> Sign a petiton to prevent lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h2>
        </div>

        {{#if error}}
        <div class="error"> Opps! Error! Try Again! </div>
        {{/if}}

        <form method="POST" >
            <div id="names2">
            <div class="login-input-box">
                <input class="login-input" placeholder="age (optional)" name="age">
            </div>
            <div class="login-input-box">
                <input class="login-input" placeholder="city (optional)" name="city">
            </div>
            <div class="login-input-box">
                <input class="login-input" placeholder="homepage (optional)" name="homepage">
            </div>
            <button class="login-button">Continue</button>
        </div>
            <input name="_csrf" value="{{csrfToken}}" type="hidden"> <!-- security feature -->
        </form>
    </div>
</div>
