<!DOCTYPE HTML>

<div id="welcome">
    <div class="welcome-box-one">
        <div class="welcome-text-one">
            <h1> Welcome! Help promote our cause! </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
    </div>
    <div class="welcome-box-two">
        <div class="welcome-text-two">
            <h2> Join us here: </h2>
            <a href="/register"><button  class="welcome-button" type="button"> Join </button></a>
            <a href="/login"><p class="welcome-login"> Already have an account? Login here.</p></a>
        </div>
    </div>
</div>
