* {
    margin: 0;
    font-family: "Space Mono", monospace;
}

html,
body {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

header,
footer {
    background: #365264;
    width: 100%;
    position: absolute;
}

header {
    height: 20px;
    top: 0;
}

footer {
    height: 25px;
    bottom: 0;
}

/* #mainBox {
    display: flex;
    /* flex-grow: 1; */
    /* justify-content: center; */
    /* flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%; */


/*  Welcome Page */
/*  ============ */

.welcome-box-one,
.welcome-box-two, {
    height: 50vh;
    width: 100%;
}

.welcome-box-one {
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-box-two {
    background: #FF8300;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-box-two:before {
    content: '';
    position: absolute;
    border-bottom: 100px solid #FF8300;
    border-left: 100vw solid transparent;
    top: -100px;
}

.welcome-text-one {
    height: 50vh;
    color: #FF8300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.welcome-text-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    color: #fff;
}

.welcome-button {
    width: 350px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.welcome-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.welcome-login {
    color: white;
}

.welcome-login:hover {
    opacity: 0.7;
}

.welcome-text-two a {
    text-decoration: none;
}

/* ========= */

/* Login Page  */
/* ========= */

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 50px;
    background: white;
    border: 2px solid #FF8300;
    color: #FF8300;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
}

.login-input-box {
    color: #FF8300;
}

.login-button {
    width: 350px;
    height: 50px;
    background: transparent;
    border: 2px solid #FF8300;
    color: #FF8300;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
}

.login-button:hover {
    background-color: rgba(255, 131, 0, 0.2);
    cursor: pointer;
}

.login-link {
    text-decoration: none;
    color: #FF8300;
}

.login-link p:hover {
    opacity: 0.7;
}

.login-text {
    margin-top: 50px;
    width: 800px;
    height: 250px;
    text-align: center;
    line-height: 25px;
    color: #FF8300;
}

/* ============= */
/*  Registration Page */
/* ============= */

/*  See login part */

/* ============= */
/* ============= */



#signatureForm {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
}

.nameInput {
    background: #283d4b;
    width: 250px;
    height: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.submitButton {
    background: #365264;
    width: 250px;
    height: 25px;
    margin-top: 10px;
    font-weight: bold;
    /* left: 550px; */
}

form {
    margin-top: 20px;
    display: flex;
}

.text {
    margin-top: 30px;
    width: 800px;
    height: 50px;
    text-align: center;
    line-height: 25px;
}


#canv {
    border: dashed 2px #FF8300;
    color: #FF8300;
}

#signHere {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#thankYouText {
    margin-top: 25px;
    color: #FF8300;
}

.thankYouBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signature {
    margin: 0;
    width: 700px;
    height: 150px;
    border: dashed 2px #FF8300;
    margin-bottom: 20px;
    margin-top: 20px;
}

.listOfPeople {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin-top: 30px;

    padding-left: 25px;
    padding-right: 25px;
    border-left-style: double;
    border-right-style: double;
    border-left-color: #FF8300;
    border-right-color: #FF8300;
    border-left-width: 10px;
    border-right-width: 10px;

    color: #FF8300;
    font-size: 20px;
}

.boxOfPeople {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 50px;
    background: transparent;
    border: 2px solid #FF8300;
    color: #FF8300;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
}

.logout-button:hover {
    background-color: rgba(255, 131, 0, 0.2);
    cursor: pointer;
}

.profile-button {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 200px;
    height: 50px;
    background: transparent;
    border: 2px solid #FF8300;
    color: #FF8300;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
}

.profile-button:hover {
    background-color: rgba(255, 131, 0, 0.2);
    cursor: pointer;
}

.music {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 30px;
    width: 300px;
}

.delete-button {
    width: 450px;
    height: 50px;
    background: transparent;
    border: 2px solid #FF8300;
    color: #FF8300;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
}

.delete-button:hover {
    background-color: rgba(255, 131, 0, 0.2);
    cursor: pointer;
}

.back-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 50px;
    background: transparent;
    border: 2px solid #FF8300;
    color: #FF8300;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
}

.back-button:hover {
    background-color: rgba(255, 131, 0, 0.2);
    cursor: pointer;
}

.videoButton {
    font-size: 15px;
    position: absolute;
    left: 10px;
    top: 30px;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background: #365264;
    border: none;
}

.loggedIn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #FF8300;
}

.success-gif {
    margin-top: 40px;
}

.list-url {
    color: #FF8300;
    
}
